@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap);
@charset "UTF-8";
body {
  background-color: #fcfcfc;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(255, 193, 7, 0.3098039216), #ffc107, rgba(255, 193, 7, 0.3098039216));
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}

main {
  min-height: 50vh;
}

.banner .img_holder img {
  width: 680px;
}

.breadcrumbs small {
  color: #868695;
}
.breadcrumbs a {
  border-bottom: 1px solid transparent;
  text-decoration: none;
  color: #868695;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}
.breadcrumbs a:hover {
  color: #242424;
  border-color: #242424;
}

.card_holder .card {
  width: 300px;
  overflow: hidden;
}
.card_holder .card img {
  transition: transform 500ms ease;
}
.card_holder .card:hover img {
  transform: scale(1.05) translateY(-6px);
}
.card_holder .card .card-body {
  position: relative;
}
.card_holder .card .card-body .quick_view {
  position: absolute;
  top: -38%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4666666667);
  opacity: 0;
}
.card_holder .card .card-body .quick_view:hover {
  background-color: rgba(255, 255, 255, 0.7764705882);
  cursor: pointer;
}
.card_holder .card:hover .card-body .quick_view {
  opacity: 1;
}

.reviews .no_reviews {
  color: #a63f3f;
  margin-bottom: 30px;
}
.reviews .one_review {
  background-color: #eee;
}
.reviews .one_review .del-item button {
  width: 40px;
  background-color: #eee;
  color: #333;
  transition: all 500ms ease;
}
.reviews .one_review .del-item button:hover {
  color: red;
  transform: scale(1.05) translateY(-5px);
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
}
.reviews .review-form textarea {
  height: 100px;
  resize: none;
}
.reviews .review-form textarea::-webkit-scrollbar {
  width: 10px;
}
.reviews .review-form textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(255, 193, 7, 0.3098039216), #ffc107, rgba(255, 193, 7, 0.3098039216));
}
.reviews .review-form textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}

.product_added {
  display: none;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.products {
  margin-top: 20px;
  position: relative;
}
.products .row_prod {
  width: 100%;
  background-color: #eee;
  overflow: hidden;
}
.products .row_prod img {
  width: 100px;
}
.products .row_prod span {
  display: inline-block;
}
.products .row_prod > div .item-count .button {
  width: 40px;
  height: 40px;
  background-color: #eee;
  color: #333;
  transition: all 500ms ease;
}
.products .row_prod > div .item-count .button:not([disabled]):hover {
  background-color: #aaa;
  color: #000;
  transform: scale(1.05) translateY(-5px);
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
}
.products .row_prod > div .item-count .button[disabled]:hover {
  background-color: #eee;
  color: #333;
  cursor: auto;
}
.products .row_prod .del-item .btn {
  width: 40px;
  background-color: #eee;
  color: #333;
  transition: all 500ms ease;
}
.products .row_prod .del-item .btn:hover {
  color: red;
  transform: scale(1.05) translateY(-5px);
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
}

/* Форма поиска */
.search {
  display: none;
  width: 64%;
  margin: 100px 18% 0;
  position: relative;
}
@media (max-width: 576px) {
  .search {
    width: 90%;
    margin: 80px 5%;
  }
}
.search .btn.close {
  width: 40px;
  background-color: #eee;
  color: #333;
  transition: all 500ms ease;
  position: absolute;
  top: 0;
  right: 0;
}
.search .btn.close:hover {
  color: red;
  transform: scale(1.05);
}

.mask {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 250;
}

.search-show {
  display: block;
  position: fixed;
  top: 0;
  z-index: 260;
}

/* Кнопка наверх */
#upBtn,
#downBtn {
  display: none;
  position: fixed;
  left: 35px;
  bottom: 35px;
  border: 0;
  text-align: center;
  background-color: #ababab;
  font-size: 20px;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 500ms ease;
}

#upBtn:hover,
#downBtn:hover {
  opacity: 1;
}
