@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

body {
    background-color: #fcfcfc;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: linear-gradient(180deg, #ffc1074f, #ffc107, #ffc1074f);
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
        background-color: #f9f9fd;
        border-radius: 10px;
    }
}


// Главная
main {
    min-height: 50vh;
}

.banner .carousel-inner .carousel-item {
    @media (max-width: 576px) {
        font-size: 0.8em;

        p:first-of-type {
            display: none;
        }

        .btn {
            font-size: 1.2em;
        }
    }
}

.breadcrumbs {
    small {
        color: #868695;
    }

    a {
        border-bottom: 1px solid transparent;
        text-decoration: none;
        color: #868695;
        font-size: 14px;
        line-height: 20px;
        cursor: pointer;
    
        &:hover {
            color: #242424;
            border-color: #242424;
        }
    }   
}

// Категории товаров (адаптивность)
@media (max-width: 1024px) {
    .category {
        display: flex;
        flex-wrap: wrap;
    }
}

// Карточки товаров
.card_holder {
    .card {
        width: 300px;
        overflow: hidden;

        img {
            transition: transform 500ms ease;
        }

        &:hover {
            img {
                transform: scale(1.05) translateY(-6px);
            }
        }
    
        .card-body {
            position: relative;
    
            .quick_view {
                position: absolute;
                top: -38%;
                left: 0;
                background-color: #ffffff77;
                opacity: 0;
    
                &:hover {
                    background-color: #ffffffc6;
                    cursor: pointer;
                }
            }
        }
    
        &:hover .card-body .quick_view {
            opacity: 1;
        }
    }
}

// Просмотр товара
@media (min-width: 768px) {
    .image_holder {
        z-index: 260;
        
        img {
            transition: transform 500ms ease;
        }
    
        &:hover {
            img {
                transform: scale(1.2);
            }
        }
    }
}

// Просмотр товара (отзывы)
.reviews {
    .no_reviews {
        color: #a63f3f;
        margin-bottom: 30px;
    }

    .one_review {
        background-color: #eee;
        
        .del-item button {
            width: 40px;
            background-color: #eee;
            color: #333;
            transition: all 500ms ease;
            
            @media (min-width: 1024px) {
                &:hover {
                    color: red;
                    transform: scale(1.05) translateY(-5px);
                    box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
                }
            }
        }
    }

    .review-form {
        textarea {
            height: 100px;
            resize: none;

            &::-webkit-scrollbar {
                width: 10px;
            }
        
            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background: linear-gradient(180deg, #ffc1074f, #ffc107, #ffc1074f);
            }
        
            &::-webkit-scrollbar-track {
                -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
                background-color: #f9f9fd;
                border-radius: 10px;
            }
        }
    }
}

// Всплывающее сообщение после добавления товара
.product_added {
    display: none;
    position: fixed;
    width: 25%;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 1100px) {
        width: 60%;
    }
    @media (max-width: 470px) {
        width: 90%;
    }
}

// Корзина
.products {
    margin-top: 20px;
    position: relative;

    .row_prod {
        width: 100%;
        background-color: #eee;
        overflow: hidden;

        img {
            width: 100px;
        }

        span {
            display: inline-block;
            // width: 7%;
            // min-width: 70px;
        }

        .item-count .button {
            width: 40px;
            height: 40px;
            background-color: #eee;
            color: #333;
            transition: all 500ms ease;

            @media (min-width: 1024px) {
                &:not([disabled]):hover {
                    background-color: #aaa;
                    color: #000;
                    transform: scale(1.05) translateY(-5px);
                    box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
                }
    
                &[disabled]:hover {
                    background-color: #eee;
                    color: #333;
                    cursor: auto;
                }
            }
        }

        .del-item .btn {
            width: 40px;
            background-color: #eee;
            color: #333;
            transition: all 500ms ease;

            @media (min-width: 1024px) {
                &:hover {
                    color: red;
                    transform: scale(1.05) translateY(-5px);
                    box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.3);
                }
            }
        }

        @media (max-width: 576px) {
            flex-wrap: wrap;

            img {
                width: 70px;
            }

            > div {
                width: 100%;
            }
        }
    }
}

/* Форма поиска */
.search {
    display: none;
    width: 64%;
    margin: 100px 18% 0;
    position: relative;

    @media (max-width: 576px) {
        width: 90%;
        margin: 80px 5%;
    }

    form {
        .btn.close {
            width: 40px;
            background-color: #eee;
            color: #333;
            transition: all 500ms ease;
            position: absolute;
            top: 0;
            right: 0;
    
            @media (max-width: 576px) {
                padding: 3px;
                width: 30px;
                height: 30px;
            }
    
            &:hover {
                color: red;
                transform: scale(1.05);
            }
        }

        > div {
            @media (max-width: 576px) {
                display: flex;
                flex-wrap: wrap;

                input {
                    margin-bottom: 20px;
                }

                .btn {
                    margin: auto;
                }
            }
        }
    }
}

.mask {
    display: none;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 250;
}

.search-show {
    display: block;
    position: fixed;
    top: 0;
    z-index: 260;
}

/* Кнопка наверх */
#upBtn,
#downBtn {
    display: none;
    position: fixed;
    left: 35px;
    bottom: 35px;
    border: 0;
    text-align: center;
    background-color: #ababab;
    font-size: 20px;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 500ms ease;

    @media (min-width: 1024px) and (max-width: 1460px) {
        left: 10px;
        font-size: 14px;
    }

    @media (max-width: 1024px) {
        display: none;
    }
}

#upBtn:hover,
#downBtn:hover {opacity: 1;}


// Футер, адаптивность
footer {
    @media (max-width: 768px) {
        > div:not(:first-of-type) {
            display: block;
            margin: auto;
            text-align: center;
        }
    }
}